--
<table style="margin: 0 auto" width="50%" border="0" cellspacing="0" cellpadding="0" align="center">
    <tr>
        <td align="center" style="color:#888">
            <a href="https://www.hidraulicadisseny.com/"><img style="width:100%" src="{{ asset('bundles/app/images/mail-ribbon.jpg', null, true) }}" alt="hidraulica"></a>
        </td>
    </tr>
    <tr>
        <td height="50" align="center" style="color:#888">
            <em>Copyright © {{ 'now' | date('Y') }} Hidràulca Disseny, All rights reserved.</em>
        </td>
    </tr>
    <tr>
        <td align="center" style="color:#888">
            Hidràulica Disseny {{ 'now' | date('Y') }}<br>
        </td>
    </tr>
    <tr>
        <td height="50" align="center" style="color:#888">
            <b>{{ 'mail.ourmailaddress' | trans }}:</b>
        </td>
    </tr>
    <tr>
        <td align="center" style="color:#888">
            Hidràulica Disseny
        </td>
    </tr>
    <tr>
        <td align="center" style="color:#888">
            Navarra 22 1er Pis
        </td>
    </tr>
    <tr>
        <td align="center" style="color:#888">
            Amposta, Tarragona 43870
        </td>
    </tr>
    <tr>
        <td align="center" style="color:#888;margin-bottom:20px;display:block">
            Spain<br>
        </td>
    </tr>
    <tr>
        <td height="80" align="center" style="color:#888">
            <a href="https://www.facebook.com/hidraulicadisseny"><img src="{{ asset('bundles/app/images/facebook.jpg', null, true) }}" alt="facebook"></a>
            <a href="https://www.behance.net/hidraulicadisseny"><img src="{{ asset('bundles/app/images/behance.jpg', null, true) }}" alt="behance"></a>
            <a href="https://vimeo.com/hidraulica"><img src="{{ asset('bundles/app/images/vimeo.jpg', null, true) }}" alt="vimeo"></a>
        </td>
    </tr>
</table>
