{% extends ':Frontend:layout_secure.html.twig' %}

{% block title %}{{ product.title }} · {{ parent() }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <h1>{{ product.title }}</h1>
            </div>
            <div class="col-sm-6 col-xs-12">
                <p>{{ product.description | raw }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="hovereffect">
                    <img src="{{ vich_uploader_asset(product, 'imageFile') | imagine_filter('1200xY') }}" alt="{{ product.title }}" class="img-responsive">
                </div>
            </div>
        </div>
        {% if product.images | length > 0 %}
            {% for image in product.images %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="hovereffect">
                        <img class="img-responsive" src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('700xY') }}" alt="{{ work.title }}">
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block languages %}
    {% include ':Frontend/includes:language-selector.html.twig' with {route: 'app_product_detail', params: {slug: product.slug}} %}
{% endblock %}
