{% extends ':Frontend:layout_secure.html.twig' %}

{% block title %}{{ product.title | title }} · {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .carousel { margin-bottom: 20px; }
        .carousel .item { background-color: #FFF; }
        .item .thumb {
            margin-bottom: 10px;
            cursor: pointer;
        }
        .btn-lg, .input-lg { border-radius: 0; }
    </style>
{% endblock %}

{% block main %}
    <div class="container">
        {% if not product.enabled %}
            <div class="alert alert-danger" role="alert"><i class="fa fa-exclamation-triangle"></i> Borrador. Aquest producte no està disponible a la web pública</div>
        {% endif %}
        <div class="row extra-m-bottom">
            <div class="col-sm-8 col-xs-12">
                <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="false">
                    <div class="carousel-inner">
                        {% for image in product.images %}
                            <div class="item{% if loop.first %} active{% endif %}">
                                <img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('555x370') }}" alt="{{ product.title }}">
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="clearfix">
                    <div id="thumbcarousel" class="carousel slide" data-interval="false">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    {% for image in product.images %}
                                        <div data-target="#carousel" data-slide-to="{{ loop.index - 1 }}" class="thumb col-xs-6 col-sm-4 col-md-3">
                                            <img class="img-responsive" src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('138x75') }}" alt="{{ product.title }}">
                                        </div>
                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <h1 class="no-m-top">{{ product.title }}</h1>
                <h2 class="no-m-top"><small>{{ product.price }} <i class="fa fa-eur"></i></small></h2>
                <form class="form-inline" action="{{ path('app_cart_include_new_item') }}" method="post">
                    <div class="form-group">
                        <label for="quantity" style="margin: 0 5px 0 0">
                            <select class="form-control input-lg" name="quantity">
                                <option{% if quantity == 1 %} selected="selected"{% endif %}>1</option>
                                <option{% if quantity == 2 %} selected="selected"{% endif %}>2</option>
                                <option{% if quantity == 3 %} selected="selected"{% endif %}>3</option>
                                <option{% if quantity == 4 %} selected="selected"{% endif %}>4</option>
                                <option{% if quantity == 5 %} selected="selected"{% endif %}>5</option>
                            </select>
                        </label>
                    </div>
                    <input type="hidden" name="product" value="{{ product.id }}">
                    <button type="submit" class="btn btn-lg btn-success">{{ 'front.cart.add' | trans }}</button>
                </form>
                <div class="normal-font-size extra-m-top">{{ product.description | raw }}</div>
            </div>
        </div>
        {% if product.urlVimeo %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/{{ product.vimeoId }}" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
            <hr>
        {% endif %}
        <div class="row">
            <div class="col-sm-1 col-xs-2">
                <a class="c-grey" style="text-decoration:none" href="{{ path('app_product_detail_prev', {slug: product.slug}) }}"><i class="fa-2x icon-chevron-thin-left"></i></a>
            </div>
            <div class="col-sm-10 col-xs-8 text-center">
                <a class="c-grey" href="{{ path('app_product_list') }}">{{ 'front.jumper.product' | trans | upper }}</a>
            </div>
            <div class="col-sm-1 col-xs-2 text-right">
                <a class="c-grey" style="text-decoration:none" href="{{ path('app_product_detail_next', {slug: product.slug}) }}"><i class="fa-2x icon-chevron-thin-right"></i></a>
            </div>
        </div>
    </div>
{% endblock %}

{% block languages %}
    {% include ':Frontend/includes:language-selector.html.twig' with {route: 'app_product_detail', params: {slug: product.slug}} %}
{% endblock %}
