{% extends ':Frontend:layout_secure.html.twig' %}

{% block title %}{{ 'front.title.about' | trans }} · {{ parent() }}{% endblock %}

{% block main %}
    <div class="container">
        {#<div class="row">#}
            {#<div class="col-xs-12">#}
                {#<h1>{{ 'front.title.about' | trans }}</h1>#}
            {#</div>#}
        {#</div>#}
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                {{ 'front.about.text' | trans | raw }}
            </div>
            <div class="col-xs-12">
                <img src="{{ asset('bundles/app/images/about.jpg') }}" alt="{{ 'front.title.about' | trans }}" class="img-responsive">
            </div>
        </div>
    </div>
{% endblock %}

{% block languages %}
    {% include ':Frontend/includes:language-selector.html.twig' with {route: 'app_about', params: {}} %}
{% endblock %}
