{% extends ':Frontend:layout.html.twig' %}

{% block header %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div style="width:240px;float:left;">
                    <img alt="{{ project_title }}" src="{{ asset('bundles/app/vectors/logo.svg') }}">
                </div>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                {{ knp_menu_render('top', {currentClass: 'active'}) }}
            </div>
        </div>
    </nav>
{% endblock %}

{% block footer %}
    <footer class="main">
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <a href="mailto:hola@hidraulicadisseny.com">{{ 'front.footer.email' | trans }}</a>
                </div>
                <div class="col-xs-9 text-right">
                    <a target="_blank" href="https://www.facebook.com/hidraulicadisseny">facebook</a>, <a target="_blank" href="https://www.behance.net/hidraulicadisseny">behance</a>, <a target="_blank" href="https://es.pinterest.com/hidraulicadis/">pinterest</a>, <a target="_blank" href="https://vimeo.com/hidraulica">vimeo</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-copyright"></i> {{ 'now' | date('Y') }}
                </div>
                <div class="col-xs-9 text-right">
                    {% block languages %}
                        {% include ':Frontend/includes:language-selector.html.twig' with {route: 'app_homepage', params: {}} %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
