{% extends ':Frontend:layout.html.twig' %}

{% block header %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            {#<a class="navbar-brand" href="{{ path('app_homepage') }}">#}
                                <div style="width:240px">
                                    <img alt="{{ project_title }}" src="{{ asset('bundles/app/vectors/logo.svg') }}">
                                </div>
                            {#</a>#}
                            {#<a class="navbar-brand" href="#">Brand</a>#}
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            {{ knp_menu_render('top', {currentClass: 'active'}) }}
                        </div>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <a href="mailto:hola@hidraulicadisseny.com">{{ 'front.footer.email' | trans }}</a>
            </div>
            <div class="col-xs-9 text-right">
                <a target="_blank" href="https://www.facebook.com/hidraulicadisseny">facebook</a>, <a target="_blank" href="https://www.behance.net/hidraulicadisseny">behance</a>, <a target="_blank" href="https://es.pinterest.com/hidraulicadis/">pinterest</a>, <a target="_blank" href="https://vimeo.com/hidraulica">vimeo</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <i class="fa fa-copyright"></i> {{ 'now' | date('Y') }}
            </div>
            <div class="col-xs-9 text-right">
                {% block languages %}
                    {% include ':Frontend/includes:language-selector.html.twig' with {route: 'app_homepage', params: {}} %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
