{% extends ':Frontend:layout_secure.html.twig' %}

{% block title %}{{ 'front.title.works' | trans }} · {{ parent() }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            {% for work in works %}
                {% include ':Frontend/includes:item-thumbnail.html.twig' with {item: work} %}
                {#<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">#}
                    {#<div class="hovereffect">#}
                        {#<img class="img-responsive" src="{{ vich_uploader_asset(work, 'imageFile') | imagine_filter('700xY') }}" alt="{{ work.title }}">#}
                        {#<div class="overlay">#}
                            {#<h2>{{ work.category.title }}</h2>#}
                            {#<a class="info" href="{{ path('app_work_detail', {slug: work.slug}) }}">{{ work.title }}</a>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block languages %}
    {% include ':Frontend/includes:language-selector.html.twig' with {route: 'app_work_list', params: {}} %}
{% endblock %}
