{% extends ':Frontend:base.html.twig' %}

{% block title %}Revisar Carrito | {{ parent() }}{% endblock %}

{% block css_plugins %}
    {#<!-- CSS Implementing Plugins -->#}
    <link rel="stylesheet" href="{{ asset('assets/plugins/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/line-icons/line-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/jquery-steps/css/custom-jquery.steps.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/scrollbar/css/jquery.mCustomScrollbar.css') }}">
{% endblock %}

{% block css_style_switcher %}
    <link rel="stylesheet" href="{{ asset('assets/css/plugins/style-switcher.css') }}">
{% endblock %}

{% block content %}
    {#<!--=== Breadcrumbs v4 ===-->#}
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">&nbsp;</span>
            {% include ':Frontend/Default/block:breadcrumb_level_1.html.twig' with {breadcrump_page: 'Pedido'} %}
        </div>{#<!--/end container-->#}
    </div>
    {#<!--=== End Breadcrumbs v4 ===-->#}

    {% if cart.items | length > 0 %}
    {#<!--=== Content Medium Part ===-->#}
    <div class="content-xs margin-bottom-30">
        <div class="container">
            <form class="shopping-cart" action="#">
                <div class="wizard clearfix">
                    <div class="steps clearfix">
                        <ul role="tablist">
                            <li role="tab" class="done first" aria-disabled="false" aria-selected="true">
                                <a id="steps-uid-0-t-0" href="{{ path('app_frontend_cart_order_list') }}" aria-controls="steps-uid-0-p-0">
                                    <span class="current-info audible">current step: </span>
                                    <span class="number">1.</span>
                                    <div class="overflow-h">
                                        <h2>Pedido</h2>
                                        <p>Revisa y edita tus productos</p>
                                        <i class="rounded-x fa fa-check"></i>
                                    </div>
                                </a>
                            </li>
                            <li role="tab" class="done" aria-disabled="true">
                                <a id="steps-uid-0-t-1" href="{{ path('app_frontend_cart_order_step_2') }}" aria-controls="steps-uid-0-p-1">
                                    <span class="number">2.</span>
                                    <div class="overflow-h">
                                        <h2>Factutación</h2>
                                        <p>Dirección de entrega</p>
                                        <i class="rounded-x fa fa-home"></i>
                                    </div>
                                </a>
                            </li>
                            <li role="tab" class="current last" aria-disabled="true">
                                <a id="steps-uid-0-t-2" aria-controls="steps-uid-0-p-2">
                                    <span class="number">3.</span>
                                    <div class="overflow-h">
                                        <h2>Pago</h2>
                                        <p>Selecciona forma de pago</p>
                                        <i class="rounded-x fa fa-credit-card"></i>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="content clearfix">
                        <section>
                            <div class="row">
                                <div class="col-md-6">
                                    <h2 class="title-type">Frequently asked questions</h2>
                                    {#<!-- Accordion -->#}
                                    <div class="accordion-v2 plus-toggle">
                                        <div class="panel-group" id="accordion-v2">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion-v2" href="#collapseOne-v2">
                                                            What payments methods can I use?
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseOne-v2" class="panel-collapse collapse in">
                                                    <div class="panel-body">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit, felis vel tincidunt sodales, urna metus rutrum leo, sit amet finibus velit ante nec lacus. Cras erat nunc, pulvinar nec leo at, rhoncus elementum orci. Nullam ut sapien ultricies, gravida ante ut, ultrices nunc.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" class="collapsed" data-parent="#accordion-v2" href="#collapseTwo-v2">
                                                            Can I use gift card to pay for my purchase?
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseTwo-v2" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit, felis vel tincidunt sodales, urna metus rutrum leo, sit amet finibus velit ante nec lacus. Cras erat nunc, pulvinar nec leo at, rhoncus elementum orci. Nullam ut sapien ultricies, gravida ante ut, ultrices nunc.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" class="collapsed" data-parent="#accordion-v2" href="#collapseThree-v2">
                                                            Will I be charged when I place my order?
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseThree-v2" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit, felis vel tincidunt sodales, urna metus rutrum leo, sit amet finibus velit ante nec lacus. Cras erat nunc, pulvinar nec leo at, rhoncus elementum orci. Nullam ut sapien ultricies, gravida ante ut, ultrices nunc.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" class="collapsed" data-parent="#accordion-v2" href="#collapseFour-v2">
                                                            How long will it take to get my order?
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseFour-v2" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit, felis vel tincidunt sodales, urna metus rutrum leo, sit amet finibus velit ante nec lacus. Cras erat nunc, pulvinar nec leo at, rhoncus elementum orci. Nullam ut sapien ultricies, gravida ante ut, ultrices nunc.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {#<!-- End Accordion -->#}
                                </div>

                                <div class="col-md-6 md-margin-bottom-50">
                                    <h2 class="title-type">Choose a payment method</h2>
                                    {#<!-- Accordion -->#}
                                    <div class="accordion-v2">
                                        <div class="panel-group" id="accordion">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                            <i class="fa fa-credit-card"></i>
                                                            Credit or Debit Card
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseOne" class="panel-collapse collapse in">
                                                    <div class="panel-body cus-form-horizontal">
                                                        <div class="form-group">
                                                            <div class="col-sm-8">
                                                                <ul class="list-inline payment-type">
                                                                    <li><i class="fa fa-cc-visa"></i></li>
                                                                    <li><i class="fa fa-cc-mastercard"></i></li>
                                                                    <li><i class="fa fa-cc-amex"></i></li>
                                                                    <li><i class="fa fa-cc-paypal"></i></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {#<!-- End Accordion -->#}
                                </div>
                            </div>
                        </section>
                        <div class="coupon-code">
                            <div class="row">
                                <div class="col-sm-4 sm-margin-bottom-30">
                                    {#<h3>Código de descuento</h3>#}
                                    {#<p>Escribe el código de tu cupón</p>#}
                                    {#<input class="form-control margin-bottom-10" name="code" type="text">#}
                                    {#<button type="button" class="btn-u btn-u-sea-shop">Añadir cupón</button>#}
                                </div>
                                <div class="col-sm-3 col-sm-offset-5">
                                    <ul class="list-inline total-result">
                                        <li>
                                            <h4>Subtotal:</h4>
                                            <div class="total-result-in">
                                                <span id="subtotal_amount">{{ cart.totalAmount }} €</span>
                                            </div>
                                        </li>
                                        <li>
                                            <h4>Gastos de envío:</h4>
                                            <div class="total-result-in">
                                                <span class="text-right">- - - -{# TODO fetch dynamic cart taxes #}</span>
                                            </div>
                                        </li>
                                        <li class="divider"></li>
                                        <li class="total-price">
                                            <h4>Total:</h4>
                                            <div class="total-result-in">
                                                <span id="total_amount">{{ cart.totalAmount }} €</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="actions clearfix">
                        <ul role="menu" aria-label="Pagination">
                            <li aria-hidden="false" style="display: block;">
                                <a href="{{ path('app_frontend_cart_order_step_2') }}" role="menuitem"><i class="fa fa-chevron-left"></i> Anterior</a>
                            </li>
                            <li aria-hidden="false" style="display: block;">
                                <a href="{{ path('app_frontend_cart_order_step_3') }}" role="menuitem">Pagar</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% else %}
        {# Empty cart list #}
        <div class="content-xs margin-bottom-30">
            <div class="container">
                <div>
                    <div class="header-tags">
                        <div class="overflow-h">
                            <h2>No existen productos en tu pedido</h2>
                            <p>Accede a la tienda para continuar comprando productos</p>
                            <a href="{{ path('app_frontend_homepage') }}" class="btn btn-primary"><i class="fa fa-chevron-left"></i> Ir a la tienda</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block js_plugins %}
    {#<!-- JS Implementing Plugins -->#}
    <script type="text/javascript" src="{{ asset('assets/plugins/back-to-top.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/smoothScroll.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/jquery-steps/build/jquery.steps.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js') }}"></script>
{% endblock %}

{% block js_page_level %}
    {#<!-- JS Page Level -->#}
    <script type="text/javascript" src="{{ asset('assets/js/shop.app.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/forms/page_login.js') }}"></script>
{% endblock %}

{% block js_ready %}
    App.init();
    Login.initLogin();
    App.initScrollBar();
{% endblock %}
