{% extends ':Frontend:base.html.twig' %}

{% form_theme form _self %}

{% block _step2_cart_send_widget %}
    {% set attr = attr|merge({class: (attr.class|default('btn-default') ~ ' btn')|trim}) %}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
            '%name%': name,
            '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button class="btn btn-primary" style="font-size: 16px;" type="submit" {{ block('button_attributes') }}><span style="margin:1px 0;display: inline-block;" class="hack">{{ label | trans({}, translation_domain) | upper }}</span> <i class="fa fa-chevron-right"></i></button>
{% endblock %}

{% block title %}Revisar Carrito | {{ parent() }}{% endblock %}

{% block css_plugins %}
    {#<!-- CSS Implementing Plugins -->#}
    <link rel="stylesheet" href="{{ asset('assets/plugins/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/line-icons/line-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/jquery-steps/css/custom-jquery.steps.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/scrollbar/css/jquery.mCustomScrollbar.css') }}">
{% endblock %}

{% block css_style_switcher %}
    <link rel="stylesheet" href="{{ asset('assets/css/plugins/style-switcher.css') }}">
{% endblock %}

{% block content %}
    {#<!--=== Breadcrumbs v4 ===-->#}
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">&nbsp;</span>
            {% include ':Frontend/Default/block:breadcrumb_level_1.html.twig' with {breadcrump_page: 'Pedido'} %}
        </div>{#<!--/end container-->#}
    </div>
    {#<!--=== End Breadcrumbs v4 ===-->#}

    {% if cart.items | length > 0 %}
    {#<!--=== Content Medium Part ===-->#}
    <div class="content-xs margin-bottom-30">
        <div class="container">
            {{ form_start(form) }}
                <div class="wizard clearfix">
                    <div class="steps clearfix">
                        <ul role="tablist">
                            <li role="tab" class="done first" aria-disabled="false" aria-selected="true">
                                <a id="steps-uid-0-t-0" href="{{ path('app_frontend_cart_order_list') }}" aria-controls="steps-uid-0-p-0">
                                    <span class="current-info audible">current step: </span>
                                    <span class="number">1.</span>
                                    <div class="overflow-h">
                                        <h2>Pedido</h2>
                                        <p>Revisa y edita tus productos</p>
                                        <i class="rounded-x fa fa-check"></i>
                                    </div>
                                </a>
                            </li>
                            <li role="tab" class="current" aria-disabled="true">
                                <a id="steps-uid-0-t-1" aria-controls="steps-uid-0-p-1">
                                    <span class="number">2.</span>
                                    <div class="overflow-h">
                                        <h2>Factutación</h2>
                                        <p>Dirección de entrega</p>
                                        <i class="rounded-x fa fa-home"></i>
                                    </div>
                                </a>
                            </li>
                            <li role="tab" class="disabled last" aria-disabled="true">
                                <a id="steps-uid-0-t-2" aria-controls="steps-uid-0-p-2">
                                    <span class="number">3.</span>
                                    <div class="overflow-h">
                                        <h2>Pago</h2>
                                        <p>Selecciona forma de pago</p>
                                        <i class="rounded-x fa fa-credit-card"></i>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="content clearfix">
                        <section class="billing-info">
                            <div class="row">
                                <div class="col-md-6 md-margin-bottom-40">
                                    <h2 class="title-type">Dirección de facturación</h2>
                                    <div class="billing-info-inputs checkbox-list">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                {{ form_widget(form.billing.firstName) }}
                                                {{ form_errors(form.billing.firstName) }}
                                                {{ form_widget(form.billing.email) }}
                                                {{ form_errors(form.billing.email) }}
                                            </div>
                                            <div class="col-sm-6">
                                                {{ form_widget(form.billing.lastName) }}
                                                {{ form_errors(form.billing.lastName) }}
                                                {{ form_widget(form.billing.phone) }}
                                                {{ form_errors(form.billing.phone) }}
                                            </div>
                                        </div>
                                        {{ form_widget(form.billing.addressLine1) }}
                                        {{ form_errors(form.billing.addressLine1) }}
                                        {{ form_widget(form.billing.addressLine2) }}
                                        {{ form_errors(form.billing.addressLine2) }}
                                        <div class="row">
                                            <div class="col-sm-6">
                                                {{ form_widget(form.billing.city) }}
                                                {{ form_errors(form.billing.city) }}
                                            </div>
                                            <div class="col-sm-6">
                                                {{ form_widget(form.billing.postalCode) }}
                                                {{ form_errors(form.billing.postalCode) }}
                                            </div>
                                        </div>
                                    </div>
                                    {{ form_rest(form.billing) }}
                                </div>
                            </div>
                        </section>
                        <div class="coupon-code">
                            <div class="row">
                                <div class="col-sm-4 sm-margin-bottom-30">
                                    {#<h3>Código de descuento</h3>#}
                                    {#<p>Escribe el código de tu cupón</p>#}
                                    {#<input class="form-control margin-bottom-10" name="code" type="text">#}
                                    {#<button type="button" class="btn-u btn-u-sea-shop">Añadir cupón</button>#}
                                </div>
                                <div class="col-sm-3 col-sm-offset-5">
                                    <ul class="list-inline total-result">
                                        <li>
                                            <h4>Base:</h4>
                                            <div class="total-result-in">
                                                <span id="subtotal_amount">{{ cart.totalAmount | money_format }}</span>
                                            </div>
                                        </li>
                                        <li>
                                            <h4>I.V.A.:</h4>
                                            <div class="total-result-in">
                                                <span class="text-right">{{ cart.totalBaseTax | money_format }}</span>
                                            </div>
                                        </li>
                                        <li class="divider"></li>
                                        <li class="total-price">
                                            <h4>Total:</h4>
                                            <div class="total-result-in">
                                                <span id="total_amount">{{ cart.totalAmountWithTax| money_format }}</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="actions clearfix">
                        <ul role="menu" aria-label="Pagination">
                            <li aria-hidden="false" style="display: block;">
                                <a href="{{ path('app_frontend_cart_order_list') }}" role="menuitem"><i class="fa fa-chevron-left"></i> Anterior</a>
                            </li>
                            <li aria-hidden="false" style="display: block;">
                                {{ form_widget(form.send) }}
                                {#<a href="{{ path('app_frontend_cart_order_step_3') }}" role="menuitem">Siguiente <i class="fa fa-chevron-right"></i></a>#}
                            </li>
                        </ul>
                    </div>
                </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
    {% else %}
        {# Empty cart list #}
        <div class="content-xs margin-bottom-30">
            <div class="container">
                <div>
                    <div class="header-tags">
                        <div class="overflow-h">
                            <h2>No existen productos en tu pedido</h2>
                            <p>Accede a la tienda para continuar comprando productos</p>
                            <a href="{{ path('app_frontend_homepage') }}" class="btn btn-primary"><i class="fa fa-chevron-left"></i> Ir a la tienda</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block js_plugins %}
    {#<!-- JS Implementing Plugins -->#}
    <script type="text/javascript" src="{{ asset('assets/plugins/back-to-top.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/smoothScroll.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/jquery-steps/build/jquery.steps.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js') }}"></script>
{% endblock %}

{% block js_page_level %}
    {#<!-- JS Page Level -->#}
    <script type="text/javascript" src="{{ asset('assets/js/shop.app.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/forms/page_login.js') }}"></script>
{% endblock %}

{% block js_ready %}
    App.init();
    Login.initLogin();
    App.initScrollBar();
{% endblock %}
