{% extends ':Frontend:layout_secure.html.twig' %}

{% block title %}{{ 'front.cart.step1.title' | trans }} · {{ parent() }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="row extra-m-top extra-m-bottom">
            <div class="col-xs-3">
                {{ 'front.cart.back' | trans }}
            </div>
            <div class="col-xs-6 text-center">
                <h2>{{ 'front.cart.cart' | trans }}</h2>
            </div>
            <div class="col-xs-3 text-right">
                {{ 'front.cart.continue' | trans }}
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th colspan="2"></th>
                        <th class="text-right">{{ 'front.cart.table.unitprice' | trans }}</th>
                        <th class="text-right">{{ 'front.cart.table.units' | trans }}</th>
                        <th class="text-right">{{ 'front.cart.table.price' | trans }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in cart.items %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.product.title }}</td>
                            <td class="text-right">{{ item.baseAmount }} €</td>
                            <td class="text-right">4</td>
                            <td class="text-right">{{ item.totalAmount }} €</td>
                            <td class="text-right"><a href="#"><i class="fa fa-times"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {#<!--=== Content Medium Part ===-->#}
                                {#<div class="col-sm-3 col-sm-offset-3">#}
                                    {#<ul class="list-inline total-result">#}
                                        {#<li>#}
                                            {#<h4>Base:</h4>#}
                                            {#<div class="total-result-in">#}
                                                {#<span id="base_amount">{{ cart.totalAmount | money_format }}</span>#}
                                            {#</div>#}
                                        {#</li>#}
                                        {#<li>#}
                                            {#<h4>I.V.A.:</h4>#}
                                            {#<div class="total-result-in">#}
                                                {#<span id="tax_amount">{{ cart.totalBaseTax | money_format }}</span>#}
                                            {#</div>#}
                                        {#</li>#}
                                        {#<li class="divider"></li>#}
                                        {#<li class="total-price">#}
                                            {#<h4>Total:</h4>#}
                                            {#<div class="total-result-in">#}
                                                {#<span id="total_amount">{{ cart.totalAmountWithTax| money_format }}</span>#}
                                            {#</div>#}
                                        {#</li>#}
                                    {#</ul>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
{##}
                    {#</div>#}
                    {#<div class="actions clearfix">#}
                        {#<ul role="menu" aria-label="Pagination">#}
                            {#<li aria-hidden="false" style="display: block;">#}
                                {#<a href="{{ path('app_frontend_cart_order_step_2') }}" role="menuitem">Siguiente <i class="fa fa-chevron-right"></i></a>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}
            {#</form>#}
        {#</div>#}
    {#</div>#}
{% endblock %}

{% block js_page_level %}
    {#<!-- JS Page Level -->#}
    <script type="text/javascript" src="{{ asset('assets/js/shop.app.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/forms/page_login.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script type="text/javascript">
        function addItem(id) {
            var btn = jQuery('#add_button_' + id);
            var qty = jQuery('#qty_' + id);
            var value = parseInt(qty.val()) + 1;
            btn.html('<i class="fa fa-spin fa-refresh"></i>');
            jQuery.getJSON(Routing.generate('api_cart_update_item_quantity', {itemId: id, quantity: value}, true), function (data) {
                if (typeof data.result !== 'undefined' && data.result === 'OK') {
                    qty.val(value);
                    btn.html('<i class="fa fa-plus"></i>');
                    jQuery('#shop_red_' + id).text(data.line + ' €');
                    jQuery('#base_amount').text(data.base + ' €');
                    jQuery('#tax_amount').text(data.tax + ' €');
                    jQuery('#total_amount').text(data.total + ' €');
                }
            });
        }
        function removeItem(id) {
            var btn = jQuery('#subtract_button_' + id);
            var qty = jQuery('#qty_' + id);
            var value = parseInt(qty.val()) - 1;
            if (value < 0) {
                value = 0;
            }
            btn.html('<i class="fa fa-spin fa-refresh"></i>');
            jQuery.getJSON(Routing.generate('api_cart_update_item_quantity', {itemId: id, quantity: value}, true), function (data) {
                if (typeof data.result !== 'undefined' && data.result === 'OK') {
                    qty.val(value);
                    btn.html('<i class="fa fa-minus"></i>');
                    jQuery('#shop_red_' + id).text(data.line + ' €');
                    jQuery('#subtotal_amount').text(data.total + ' €');
                    jQuery('#total_amount').text(data.total + ' €');
                }
            });
        }
    </script>
{% endblock %}
